 .all div{
    height: 250px;
    border: 1px solid blue;
    margin-bottom: 15px;
    overflow : hidden;
    

}
.football img {
    height: 250px;
    object-fit: cover;
    width:100%;
    margin-bottom:15px;
    border-radius: 30px;
    border: 2px solid black;
}
.tennis img {
    height:250px;
    object-fit:cover;
    width:100%;
    margin-bottom:15px;
    border-radius: 30px;
    border: 2px solid black;
}
.cricket img{
    height:250px;
    object-fit:cover;
    width:100%;
    margin-bottom:15px;
    border-radius: 30px;
    border: 2px solid black;  
}
.vollyball img{
    height:250px;
    object-fit:cover;
    width:100%;
    margin-bottom:15px; 
    border-radius: 30px;
    border: 2px solid black; 
}
